* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    background-color: #1b1b1b;
  }
  
  nav {
    position: sticky;
    display: flex;
    background: #f0cc2d;
    justify-content: space-between;
    padding: 0 30px;
    height: 80px;
    align-items: center;
    color: rgb(17, 17, 17);
  }
  
  nav .logo {
    font-weight: 900;
    font-size: 48px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    width: 20%;
    justify-content: space-between;
  }
  nav ul li a {
    text-decoration: none;
    color: rgb(12, 12, 12);
    font-size: 22px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.3s;
  }
  
  nav ul li a:hover {
  background-color: #ac9636;
  font-size: 25px;
  }
  

  
  .bg-mid {
    position: absolute;
    width: 1440px;
    height: 670px;
    left: 0px;
    top: 0px;
    z-index: -2;
    background: url(assets/default-banner.png);
    
    
  }
  
  .ingfo {
    margin-top: 50px;
    margin-left: 62px;
  }
  
  .ingfo p {
    width: 1156px;
    font-size: 42px;
    margin-top: 220px;
    color: #e6e6e6;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .minggu h1 {
    font-size: 38px;
    color: #ac9636;
    margin-top: 310px;
    margin-left: 62px;
  }
  
  .best-image {
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px 40px;
  }
  
  .best img {
    width: 212px;
    height: 320px;
    box-sizing: border-box;
    margin: 20px;
    transition: 0.5s;
  }
  
  .best img:hover {
    transform: scale(1.15);
  }
  .film-anak h1 {
    font-size: 38px;
    color: #ac9636;
    margin-top: 100px;
    margin-left: 62px;
  }
  
  .anak-image {
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px 40px;
    flex-wrap: wrap;
  }
  
  .anak img {
    width: 212px;
    height: 320px;
    box-sizing: border-box;
    margin: 20px;
    transition: 0.5s;
  }
  
  .anak img:hover {
    transform: scale(1.15);
  }
  
  .kontak {
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.kontak .gambar img {
    width: 700px;
    height: 600px;
}

.form {
    margin-left: 20px;
}

.form h1 {
    color: #ac9636;
    font-size: 50px;
}

.form p {
    margin-left: 8px;
    color: white;
}

.form input {
    border-color: rgb(212, 176, 55);
    border-radius: 3px;
    width: 530px;
    height: 40px;
    margin-top: 11px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 8px;
}

#kirim {
    margin-left: 40%;
    margin-top: 17px;
    border: none;
    box-sizing: border-box;
    padding: 9px;
    color: black;
    background-color: #ac9636;
    border-radius: 3px;
    transition: 0.3s;
    font-size: 23px;
}

#kirim:hover {
    background-color: rgb(145, 113, 46);
    transform: scale(1.15);
}

.footer {
    background-color: #ac9636;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6px;
}

.footer p {
    color: rgb(14, 14, 14);
    font-size: 16px;
}

.content-description h1 {
    color: darkblue;
}